@import "tailwindcss";

@theme {
  --color-primary: #15803d; /* green-700 */
  --color-primary-dark: #166534; /* green-800 */
  --color-accent: #78350f; /* amber-900 */
  --color-earth: #f5f5f4; /* stone-100 */
  --color-earth-dark: #1c1917; /* stone-800 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
